/*@font-face {
    font-family: popcorn;
    src: url(./Poppins-Light.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1{
    background-color: crimson;
    font-family: popcorn;
}
*/


*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    color:#fff;
}

html,body{
    width: 100%;
    height: 100%;
}
 body{
    background-color: #111;
 }

 #img1{
    height: 150px;
    width: 150px;
    background-size: cover;
    position:absolute;
    left: 100px;
    top:30%;
    background-image: url(https://images.unsplash.com/photo-1756904114067-aa458643aa86?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=735);

 }

 #img2{
    height: 150px;
    width: 150px;
    background-size: cover;
    position:absolute;
    left: 250px;
    top:55%;
    background-image: url(https://images.unsplash.com/photo-1760050777072-bb51faed0bb7?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=687);
 }
 #img3{
    height: 150px;
    width: 150px;
    background-size: cover;
    position:absolute;
    left:450px;
    top:90%;
    background-image:url(https://images.unsplash.com/photo-1760312379880-1a5623c5f835?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=804) ;
 }
 
 #img4{
    height: 150px;
    width: 150px;
    background-size: cover;
    position:absolute;
    left: 600px;
    top:115%;
    background-image: url(https://images.unsplash.com/photo-1758914476570-fb84df0e67ab?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1170);
 }
 #img5{
    height: 150px;
    width: 150px;
    background-size: cover;
    position:absolute;
    right:500px;
    top:30%;
    background-image: url(https://images.unsplash.com/photo-1759987814723-f0e07e5e8bec?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=687);
 }
 #img6{
    height: 150px;
    width: 150px;
    background-size: cover;
    position:absolute;
    right:650px;
    top:55%;
    background-image: url(https://images.unsplash.com/photo-1760029012684-7cc3800aba71?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=686);
 }
 #img7{
    height: 150px;
    width: 150px;
    background-size: cover;
    position:absolute;
    right: 850px;
    top:90%;
    background-image: url(https://images.unsplash.com/photo-1759997327457-1529d2a05dc6?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=687);
}
#img8{
    height: 150px;
    width: 150px;
    background-size: cover;
    position:absolute;
    right:1000px;
    top:115%;
    background-image: url(https://images.unsplash.com/photo-1759343619829-90f565fb6129?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=735);
}

