*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: #111;

}
.img{
    width:500px ;
    height:500px;
    margin-top: 39px;
    margin-left: 50px;
    background-color:beige;
    animation: Generation 20s cubic-bezier(1, 0, 0, 1) both ;
}


@keyframes Generation{
    0%{
        background-size: cover;
        background-image: url(https://png.pngtree.com/png-vector/20220808/ourlarge/pngtree-cartoon-cute-baby-adorable-png-image_5779942.png);
    }
    30%{
        background-size: cover;
        background-image: url(https://cdn2.vectorstock.com/i/1000x1000/29/01/cute-little-girl-cartoon-vector-21572901.jpg);
    }
    60%{
        background-size: cover;
        background-image: url(https://img.freepik.com/premium-photo/photo-3d-illustration-cartoon-teenage-girl-generative-ai_742418-8863.jpg);
    }
    80%{
        background-size: cover;
        background-image: url(https://cdn.vectorstock.com/i/500p/94/45/busy-mother-with-baby-vector-21589445.jpg);
    }
    100%{
        background-size: cover;
        background-image: url(https://img.freepik.com/premium-photo/professional-full-body-old-lady-cartoon-vector_1027230-19060.jpg);
    }

}
h1{
    font-style: italic;
    margin-left: 50px;
    margin-top: 10px;

}
