*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    color:#fff;
}

html,body{
    width: 100%;
    height: 100%;
}
 body{
    background-color: #111;
 }
 .image{
height: 300px;
    width:300px;
    background-color: darkmagenta;
    display: grid;
    grid-template-areas:
    "a"
    "b"
    "c";

 }
 img{
    height: 100px;
    background-color: darkred ;
    border:2px solid black;
    display: grid;
 }
