*{
     
    margin:0;
    box-sizing: border-box;
    color:#fff;
}

html,body{
    width: 100%;
    height: 100%;
}
 body{
    background-color: #111;
 }

 .parent{
       height: 100px;
        width: 100px;
       background-color: crimson;

 }
 @media(min-width:767px) and (max-width:1023){
    .parent{
        width: 900px;
        height: 900px;
        display:flex;
        background-color: deeppink;

    }
}
