*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
html,body{
    width: 100%;
    height: 100%;
    background-color: #fff;
}
body{
    background-color: #111;
}
.images{
    width: 100%;
    background-color: blanchedalmond;
    display: grid;
    

}

@media(min-width:600px){
    .images{
        display: grid;
    grid-template-areas: 
    "a a b c"
    "a a d e"
    "f g j j"
    "h i j j";
    gap: 20px;
}
}
img{
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}
img{
    .image-a{
        grid-area: a;
    }
    .image-b{
        grid-area: b;
    }
    .image-c{
        grid-area: c;
    }
    .image-d{
        grid-area: d;
    }
    .image-e{
        grid-area: e;
    }
    .image-f{
        grid-area: f;
    }
    .image-g{
        grid-area: g;
    }
    .image-h{
        grid-area: h;
    }
    .image-i{
        grid-area: i;
    }
    .image-j{
        grid-area: j;
    }
}