* {
  padding: 0;
  margin: 0;
  
}

html, body {
  width: 100%;
  height:100%;
  background-color: #fff;
}
.container{
  text-align: center;
  color:darkmagenta;
  font-style:inherit;
  font-display: block;
}

.images {
  display: grid;
  gap:10px;
  grid-template-areas: 
  "a a b c"
  "a a d e"
  "f g j j"
  "h i j j";
  overflow: hidden;
  padding:10px;
}

.images img {
     width: 100%;
     aspect-ratio: 1/1;
     object-fit: cover;
}

.a {
  grid-area: a;
}
.b {
  grid-area: b;
}
.c {
  grid-area: c;
}
.d {
  grid-area: d;
}
.e {
  grid-area: e;
}
.f {
  grid-area: f;
}
.g {
  grid-area: g;
}
.h {
  grid-area: h;
}
.i {
  grid-area: i;
}
.j {
  grid-area: j;
}

.images img:hover{
  transform: scale(1.05);
  transition:trasform 0.3s ease;
  cursor: pointer;
}
@media (max-width: 768px) {
  .images {
    grid-template-areas:
    "a"
    "b"
    "c"
    "d"
    "e"
    "f"
    "g"
    "h"
    "i"
    "j"
  }
  }